<p id="notice"><%= notice %></p>
<p id="error"><%= alert %></p>


<%= form_with model: UserFile.new, local: true, class: "center-align" do |form| %>
  <%= form.hidden_field :name, value: "my_file" %>

  <%= form.file_field :user_file, direct_upload: true %>

  <button type="submit" class="btn upload-button"> Upload New File<i class="material-icons right">cloud_upload</i> </button>

<% end %>

<br>


<div>
  <table class="highlight">
    <thead>
      <tr>  </tr>
    </thead>

    <tbody>
  
      <% if @user_files %>

        <% @user_files.each do |user_file| %>
          <tr>
            <td>
              <%= user_file.user_file.filename %>
              <a  href="<%= rails_blob_path(user_file.user_file, disposition: "attachment") %>" class="secondary-content">
                <i class="material-icons">file_download</i>
              </a>
            </td>
          </tr>
        <% end %>

      <% else %>

        <br><br>
        <h3 class="center-align">No files uploaded</h3>

      <% end %>
      
    </tbody>
  </table>
</div>
